<div class="card" id="downloads">
  <div class="card-header d-flex">
    <span>Downloads</span>
    <div class="ml-auto">
      <% link_to "javascript:void(0);", {:tabindex => "0", :class => "", :title => 'Downloads', :data => {trigger: 'focus', container: 'body', toggle: 'popover', placement: 'bottom', content: 'Once your list is done generating it is ready for you to purchase and download.'}} do %>
      <i class="fas fa-question-circle"></i>
      <% end %>
      <% link_to "../organization/ip-address-downloads/index.html", title: 'See all Download Lists' do %>
      <i class="fas fa-list"></i>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <table class="table download-lists">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-truncate">Created</th>
          <th class="text-truncate">IP Addresses</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Kula Brands', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-10-09 14:28
          </td>
          <td>&nbsp;</td>
          <td>
            <% link_to "../../index.html", class: 'spinner btn btn-outline-primary btn-sm', style: 'width: 66px' do %>
              <span class="spinner-border spinner-border-sm text-primary"></span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Kula Brands', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-10-09 14:28
          </td>
          <td>&nbsp;</td>
          <td>
            <% link_to '#', :class => 'btn btn-outline-primary btn-sm', style: 'width: 66px', :data => {toggle: 'modal', target: '#list-error'} do %>
              <i class="fas fa-exclamation-circle"></i>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Jacelyn Soundalikes', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-04-16 21:11
          </td>
          <td>850,697</td>
          <td>
            <%= link_to 'Purchase', 'purchase/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Donovan Lee Carpenter Soundalikes', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-04-16 21:11
          </td>
          <td>54,047</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Healx Natural', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-04-07 02:41
          </td>
          <td>93,322</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Country Music Fans', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-03-12 23:43
          </td>
          <td>38,923</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'New Mothers', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-03-12 23:43
          </td>
          <td>198,504</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Travel', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-03-12 23:43
          </td>
          <td>54,047</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Auto Enthusiasts', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-03-12 23:43
          </td>
          <td>71,021</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Fitness Enthusiasts', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-03-12 23:43
          </td>
          <td>46,291</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
        <tr>
          <td class="text-truncate">
            <%= link_to 'Hip Hop Culture', '../organization/ip-address-downloads/details/index.html' %>
          </td>
          <td class="text-truncate">
            2020-03-12 23:43
          </td>
          <td>73,191</td>
          <td>
            <%= link_to 'Download', '../organization/ip-address-downloads/download/index.html', class: 'btn btn-outline-primary btn-sm' %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- // end card -->