<footer class="bg-dark py-3" role="contentinfo">
  <div class="container">
    <ul>
      <li><%= link_to 'Copyright Policy', '../../copyright-policy/index.html' %></li>
      <li><%= link_to 'Privacy Policy', '../../privacy-policy/index.html' %></li>
      <li><%= link_to 'Terms of Use', '../../terms-of-use/index.html' %></li>
      <li><%= link_to 'Do Not Sell My Info', '../../do-not-sell-my-info/contact/' %></li>
      <li><%= link_to 'Help Center', '../../help-center/index.html' %></li>
      <li><%= link_to 'Contact Us', '../../contact-us/index.html' %></li>
    </ul>
    <p class="m-0 copyright text-center small">Copyright &copy; Muzit <%= Time.now.year %></p>
  </div>
</footer>