<footer class="bg-dark py-3" role="contentinfo">
  <div class="container">
    <ul>
      <li><%= link_to 'Copyright Policy', '../../copyright-policy/' %></li>
      <li><%= link_to 'Privacy Policy', '../../privacy-policy/' %></li>
      <li><%= link_to 'Terms of Use', '../../terms-of-use/' %></li>
      <li><%= link_to 'Contact Us', '../../contact-us/' %></li>
    </ul>
    <p class="m-0 copyright text-center small">Copyright &copy; Muzit <%= Time.now.year %></p>
  </div>
</footer>