<nav class="navbar navbar-expand-md navbar-dark fixed-top" role="navigation">
  <% link_to "../../index.html", class:"navbar-brand" do %>
  <%= image_tag("logo-muzit.png", class: "", alt: "Muzit Logo") %>
  <% end %>
  <div class="navbar-item ml-auto">
    <% link_to "#", class: 'nav-link search', id: 'dropdown-search', 'data-toggle' => 'dropdown', 'aria-haspopup' => "true", 'aria-expanded' => 'false' do %>
    <span class="oi oi-magnifying-glass text-white"></span>
    <% end %>
    <div class="dropdown search">
      <div class="dropdown-menu search" aria-labelledby="search-dropdown" aria-labelledby="accountDropdown">
        <div class="search" id="nav-search">
          <div class="input-group search" data-controller="search">
            <%= text_field_tag :query, value: "", class: "form-control", placeholder: "Search titles...", "aria-label" => "Search", autocomplete: "off", data: { action: "keyup->search#fetchResults keydown->search#navigateResults focus->search#fetchResults", target: "search.query" } %>
            <div class="input-group-append">
              <button class="" type="button" data-action="click->search#fetchResults">
                <span class="oi oi-magnifying-glass text-primary"></span>
              </button>
            </div>
            <div data-target="search.results">
              <ul class="search-results hide-search-results" data-controller="search-results" data-target="search.resultsList">
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="../artist-details/index.html">Phish<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Philly<span>Female Dancemania artist</span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Philth<span>Drum and Bass/Dubstep</span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Phil G<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Phi Phi<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Phixx<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Phil<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">So Phistry<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Philo<span></span></a>
                </li>
                <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                  <a href="#">Phil<span>Philipp Müller</span></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- // end input-group -->
        </div>
        <!-- // end search -->
      </div>
      <!-- // end dropdown-menu -->
    </div>
    <!-- // end dropdown -->
  </div>
  <!-- // end navbar-item -->
  <div class="navbar-item">
    <% link_to "#", class: 'nav-link', id: 'account-dropdown', 'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false' do %>
    <span class="oi oi-person " title="Account" aria-hidden="true"></span>
    <% end %>
    <div class="dropdown account">
      <div class="dropdown-menu" aria-labelledby="accountDropdown">
        <div class="dropdown-header user">
          Andrew Lawton<span>Owner, Administrator</span>
        </div>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">Staff</div>
        <%= link_to "Create Artist", "#", :class => "dropdown-item" %>
        <%= link_to "Manage Organizations", "../../admin/add-organization.html", :class => "dropdown-item" %>
        <%= link_to "Unmapped Torrents", "../../admin/torrents.html", :class => "dropdown-item" %>
        <%= link_to "Feature Flags", "#", :class => "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Dashboard", "../../index.html", :class => "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">IP Addresses</div>
        <%= link_to "Purchase History", "../../organization/purchase-history.html", :class => "dropdown-item" %>
        <%= link_to "Download Lists", "../../organization/ip-address-reports/ip-address-reports.html", :class => "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <div class="dropdown-header">Organization</div>
        <%= link_to "Credit Card", "../../organization/credit-card.html", :class => "dropdown-item" %>
        <%= link_to "Manage Users", "../../organization/invite-users.html", :class => "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "My Account", "../../users/my_account.html", :class => "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Sign Out", "../../sign-in/index.html", :class => "dropdown-item", :id => "sign-out" %>
      </div>
      <!-- // end dropdown-menu -->
    </div>
    <!-- // end dropdown -->
  </div>
  <!-- // end navbar-item -->
</nav>