---
title: IP Address Lists - Muzit
bodyClass:
---

<div class="container-fluid">
  <h1 class="text-center text-md-left my-4">IP Address Lists</h1>

  <form class="form" action="/admin/torrents" accept-charset="UTF-8" method="get">
    <fieldset>
      <div class="form-group mb-4">
        <div class="input-group">
          <input value="" class="form-control" placeholder="Search lists" type="text" name="q" id="q" style="width: 35%;">
          <select class="form-control custom-select">
            <option selected>Filter by...</option>
            <option value="allLists">All Lists</option>
            <option value="myLists">My Lists</option>
            <option value="sharedLists">Curated Lists</option>
          </select>
          <div class="input-group-append">
            <input type="submit" name="commit" value="Search" class="btn btn-primary" data-disable-with="Search">
          </div>
        </div>
      </div>
    </fieldset>
  </form>

  <div class="nav-bar-icon">
    <i class="fas fa-plus-circle text-primary"></i>
    <%= link_to "Add List", "../../organization/ip-address-lists/add/index.html" %>
  </div>

  <table class="table ip-address-lists">
    <thead>
      <tr>
        <th>Name</th>
        <th class="text-truncate">Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate">
          <%= link_to "Auto Enthusiasts", "#" %>
          <%= link_to 'Curated', 'javascript:void(0);', class: 'badge badge-light badge-curated', :data => {toggle: 'tooltip', placement: 'top'}, title: 'A curated list you can customize. This list is shared with all organizations' %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Customize", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link btn-sm" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Country Artists", "#" %>
          <%= link_to 'Curated', 'javascript:void(0);', class: 'badge badge-light badge-curated', :data => {toggle: 'tooltip', placement: 'top'}, title: 'A curated list you can customize. This list is shared with all organizations' %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "CBD", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Gamers", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "New Mothers", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Rap Artists", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Reggae Artists", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Pop Music", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Home Improvement", "#" %>
          <%= link_to 'Curated', 'javascript:void(0);', class: 'badge badge-light badge-curated', :data => {toggle: 'tooltip', placement: 'top'}, title: 'A curated list you can customize. This list is shared with all organizations' %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Travel", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Entrepreneur", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Conservatives", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Pet Owners", "#" %>
        </td>
        <td>Mar 7, 2021 1:11 PM</td>
        <td class="action">
          <%= link_to "Edit", "../../organization/ip-address-reports/edit-list.html", class: "btn btn-link" %>
          <%= link_to "Generate", "#", class: 'btn btn-outline-primary btn-sm' %>
        </td>
      </tr>
    </tbody>
  </table>
  <nav role="pagination" aria-label="Page navigation" class="pagination pagination-sm justify-content-center">
    <ul class="pagination">
      <li class="prev previous_page disabled page-item"><a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a></li>
      <li class="active page-item"><a class="page-link" href="/organization/ip_address_reports?page=1">1</a></li>
      <li class="page-item"><a rel="next" class="page-link" href="/organization/ip_address_reports?page=2">2</a></li>
      <li class="next next_page  page-item"><a class="page-link" rel="next" href="/organization/ip_address_reports?page=2">Next <i class="fas fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</div>