---
title: IP Address Reports - Muzit
bodyClass: lists
---
<div class="container-fluid">
  <h1 class="text-center text-md-left my-4">IP Address Reports</h1>
  <table class="table table-hover ip-address-reports">
    <thead>
      <tr>
        <th>Name</th>
        <th># of IP Addresses</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-truncate">
          <%= link_to "Auto Enthusiasts", "#" %>
        </td>
        <td>35</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Country Artists", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "CBD", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Gamers", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "New Mothers", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Rap Artists", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Reggae Artists", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Pop Music", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Home Improvement", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Travel", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Entrepreneur", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Conservatives", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
      <tr>
        <td class="text-truncate">
          <%= link_to "Pet Owners", "#" %>
        </td>
        <td>246,340</td>
        <td class="action text-right text-nowrap">
           <%= link_to "Generate", "#" %>
        </td>
      </tr>
    </tbody>
  </table>
  <nav role="pagination" aria-label="Page navigation" class="pagination pagination-sm justify-content-center">
    <ul class="pagination">
      <li class="prev previous_page disabled page-item"><a class="page-link" href="#"><i class="fas fa-angle-left" aria-hidden="true"></i> Previous</a></li>
      <li class="active page-item"><a class="page-link" href="/organization/ip_address_reports?page=1">1</a></li>
      <li class="page-item"><a rel="next" class="page-link" href="/organization/ip_address_reports?page=2">2</a></li>
      <li class="next next_page  page-item"><a class="page-link" rel="next" href="/organization/ip_address_reports?page=2">Next <i class="fas fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</div>