---
title: Add IP Address List - Muzit
bodyClass: ip-address-reports
---
<h1 class="text-center my-4">
  Add IP Address List
</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="form-container">
        <h5>
          Add Titles
        </h5>
        <p>
          Search for a title and click the name of the title you want in the search results and it will be added to the list. You can skip this step if you don't want to include titles.
        </p>
        <form action="" method="" class="form">
          <fieldset>
            <div class="form-group">
              <label for="search-titles">Search for titles</label>
              <div class="search">
                <div class="search" data-controller="search">
                  <%= text_field_tag :query, value: "", class: "form-control", placeholder: "Enter a title name...", "aria-label" => "Search", autocomplete: "off", data: { action: "keyup->search#fetchResults keydown->search#navigateResults focus->search#fetchResults", target: "search.query" } %>
                  <div data-target="search.results">
                    <ul class="search-results hide-search-results" data-controller="search-results" data-target="search.resultsList">
                      <div class="scroll">
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Phish<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Philly<span>Female Dancemania artist</span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Philth<span>Drum and Bass/Dubstep</span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Phil G<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Phi Phi<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Phixx<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Phil<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">So Phistry<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Philo<span></span></a>
                        </li>
                        <li class="search-result" data-target="search-results.result" data-action="mouseover->search-results#setFocus">
                          <a href="#">Phil<span>Philipp Müller</span></a>
                        </li>
                      </div>
                    </ul>
                  </div>
                  <!-- // end search results -->
                </div>
                <!-- // end input-group -->
              </div>
              <!-- // end search -->
            </div>
            <!-- // end form-group -->
          </fieldset>
        </form>
        <table class="table" id="list">
          <thead>
            <tr>
              <th>Title Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-truncate">
                Marvel Entertainment
              </td>
              <td class="action text-right text-nowrap">
                <%= link_to "Remove", "#", 'onclick' => 'removeListItem1()' %>
              </td>
            </tr>
            <tr>
              <td class="text-truncate">
                Game of Thrones
              </td>
              <td class="action text-right text-nowrap">
                <%= link_to "Remove", "#", 'onclick' => 'removeListItem2()' %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="action steps text-right">
          <%= link_to "Cancel", "../ip-address-reports/ip-address-reports.html" %>
          <%= link_to "Back", "create-report.html", class: 'btn btn-outline-primary' %>
          <%= link_to "Next", "create-report-step3.html", class: 'btn btn-primary' %>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- // end container -->
<script>
  function removeListItem1() {
    if (confirm("Are you sure you want to remove this item from the list?")) {
      document.getElementById("list").deleteRow(1);
    } else {

    }
  }
  function removeListItem2() {
    if (confirm("Are you sure you want to remove this item from the list?")) {
      document.getElementById("list").deleteRow(2);
    } else {

    }
  }
</script>