---
title: Buy Credits - Muzit
bodyClass: pricing
---
<header class="hero">
  <div class="image">
    <figure>
      <%= image_set_tag 'hero-pricing_2160w.jpg', {
        'hero-pricing_300w.jpg' => '300w',
        'hero-pricing_761w.jpg' => '761w',
        'hero-pricing_1098w.jpg' => '1098w',
        'hero-pricing_1390w.jpg' => '1390w',
        'hero-pricing_1648w.jpg' => '1648w',
        'hero-pricing_1924w.jpg' => '1924w',
        'hero-pricing_2160w.jpg' => '2160w' },
        sizes: '(max-width: 2160px) 100vw, 2160px',
        alt: 'Trace hero image' %>
    </figure>
  </div>
  <div class="text">
    <div class="container-fluid">
      <h1>Buy Credits</h1>
      <h2>
        Target IP addresses of over 300 million households
      </h2>
    </div>
  </div>
</header>
<section class="pricing-plans">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card box-shadow pricing-plan">
          <h3 class="card-header medium">
            1,000 IP Blocks
          </h3>
          <div class="card-body">
            <div class="price">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                190.00
              </span>
              <span class="per">
                / 1000
              </span>
            </div>
            <form action="buy-credits.html" method="get">
              <div class="form-group">
                <label for="ip-blocks-1">How many block's would you like?</label>
                <input id="ip-blocks-1" type="number" name="credits" min="1" max="10" class="form-control" value="1">
              </div>
              <div class="action">
                <%= submit_tag "Continue", class: 'btn btn-outline-primary'  %>
              </div>
            </form>
          </div>
          <!-- // end card-body -->
        </div>
        <!-- // end pricing-plan -->
      </div>
      <div class="col-md-4">
        <div class="card box-shadow pricing-plan">
          <h3 class="card-header medium">
            10,000 IP Blocks
          </h3>
          <div class="card-body">
            <div class="price">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                150.00
              </span>
              <span class="per">
                / 1000
              </span>
            </div>
            <form action="buy-credits.html" method="get">
              <div class="form-group">
                <label for="ip-blocks-2">How many block's would you like?</label>
                <input id="ip-blocks-2" type="number" name="credits" min="1" max="10" class="form-control" value="1">
              </div>
              <div class="action">
                <%= submit_tag "Continue", class: 'btn btn-outline-primary'  %>
              </div>
            </form>
          </div>
          <!-- // end card-body -->
        </div>
        <!-- // end pricing-plan -->
      </div>
      <div class="col-md-4">
        <div class="card box-shadow pricing-plan ">
          <div class="ribbon">Most Popular</div>
          <h3 class="card-header medium">
            100,000 IP Blocks
          </h3>
          <div class="card-body">
            <div class="price">
              <sup class="currency">
                $
              </sup>
              <span class="amount">
                120.00
              </span>
              <span class="per">
                / 1000
              </span>
            </div>
            <form action="buy-credits.html" method="get">
              <div class="form-group">
                <label for="ip-blocks-3">How many block's would you like?</label>
                <input id="ip-blocks-3" type="number" name="credits" min="1" max="10" class="form-control" value="1">
              </div>
              <div class="action">
                <%= submit_tag "Continue", class: 'btn btn-outline-primary'  %>
              </div>
            </form>
          </div>
          <!-- // end card-body -->
        </div>
        <!-- // end pricing-plan -->
      </div>
    </div>
    <!-- // end row -->
    <p class="text-center mb-4" style="font-size: .90rem; font-style: italic;">
      One credit is worth one IP address.
    </p>
  </div>
  <!-- // end container-fluid -->
  <div class="callout">
    <h2>
      Don't see what you're looking for?
    </h2>
    <p>
      If you have any questions please contact us and we'd be happy to help.
    </p>
    <div class="action">
      <%= link_to "Contact Us", "../contact-us/index.html", class: "btn btn-primary" %>
    </div>
  </div>
  <!-- // end callout -->
</section>