---
title: Artist Details - Muzit
bodyClass: artist-details
---
<section class="hero">
  <div class="hero-container">
    <%= image_tag("phish.jpg", class: "object-fit-cover img-fluid", alt: "Phish Image") %>
    <div class="hero-artist-stats">
        <h1 class="text-white mb-4">Phish</h1>
        <div class="row pb-3">
          <div class="col-lg-12">
            <div class="container-fluid d-none d-md-block">
              <div class="row">
                <div class="col-md-4 col-lg-4">
                  <div class="row">
                    <div class="col-md-1 p-0">
                      <span class="oi oi-data-transfer-download text-white"></span>
                    </div>
                    <!-- end column -->
                    <div class="col-md-6 p-0">
                      <span class="data text-white">
                        18,250,300
                      </span>
                      <span class="label text-white text-nowrap">
                        Downloaded Songs
                        <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique songs downloaded for this artist."></i>
                      </span>
                    </div>
                    <!-- // end column -->
                  </div>
                  <!-- // end row -->
                </div>
                <!-- // end column -->
                <div class="col-md-4 col-lg-4">
                  <div class="row">
                    <div class="col-md-1 p-0">
                      <span class="oi oi-target text-white"></span>
                    </div>
                    <!-- // end column -->
                    <div class="col-md-6 p-0">
                      <span class="data text-white">
                        1,495,573
                      </span>
                      <span class="label text-white text-nowrap">
                        Potential Reach
                        <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique IP addresses that have downloaded at least one file from this artist. These are the fans!"></i>
                      </span>
                    </div>
                    <!-- // end column -->
                  </div>
                  <!-- // end row -->
                </div>
                <!-- // end column -->
                <div class="col-md-4 col-lg-4">
                  <div class="row">
                    <div class="col-md-1 p-0">
                      <span class="oi oi-link-intact text-white"></span>
                    </div>
                    <!-- // end column -->
                    <div class="col-md-6 p-0">
                      <span class="data text-white">
                        439
                      </span>
                      <span class="label d-block text-white text-nowrap">
                        Torrents
                        <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="The amount of Torrent Files we are currently tracking for this artist"></i>
                      </span>
                    </div>
                    <!-- // end column -->
                  </div>
                  <!-- // end row -->
                </div>
                <!-- // end column -->
              </div>
              <!-- // end row -->
            </div>
            <!-- // end container-fluid -->
          </div>
          <!-- // end column -->
        </div>
        <!-- // end row -->
    </div>
    <!-- // end hero-artist-stats -->
  </div>
  <!-- // end hero-container -->
</section>
<!-- // end hero -->
<section class="container-fluid">
  <div class="d-md-none">
    <div class="row">
      <div class="col-md-4 p-0">
        <div class="mobile-stats pt-2">
          <div class="card-body text-white">
            <div class="row m-0">
              <div class="col-sm text-sm-left pl-0 mb-4 mb-sm-0">
                <h6 class="card-title text-nowrap">
                  <span class="oi oi-data-transfer-download mr-1"></span> Downloaded Songs
                  <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique songs downloaded for this artist."></i>
                </h6>
                <span class="h5 ml-4 font-weight-bold mb-0 text-nowrap"> 18,250,300</span>
              </div>
              <div class="col-sm mb-4 text-sm-left pl-0 mb-4 mb-sm-0">
                <h6 class="card-title text-nowrap">
                  <span class="oi oi-target mr-1"></span>
                  Potential Reach
                  <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique IP addresses that have downloaded at least one file from this artist. These are the fans!"></i>
                </h6>
                <span class="h5 ml-4 font-weight-bold mb-0 text-nowrap"> 1,495,573</span>
              </div>
              <!-- // end column -->
              <div class="col-sm text-sm-left pl-0 mb-sm-0">
                <h6 class="card-title text-nowrap">
                  <span class="oi oi-link-intact mr-1"></span>
                    Torrent Files
                    <i class="fas fa-question-circle text-white ml-1" data-toggle="tooltip" data-placement="top" title="The amount of Torrent Files we are currently tracking for this artist"></i>
                </h6>
                <span class="h5 ml-4 font-weight-bold mb-0"> 439</span>
              </div>
              <!-- // end column -->
            </div>
            <!-- // end row -->
          </div>
          <!-- // end card-body -->
        </div>
        <!-- // end mobile-stats -->
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </div>
  <!-- // end mobile-stats -->
  <header class="header-dropdown">
    <div class="row">
      <div class="col text-truncate my-auto">
        <h2>
           Worldwide Stats
        </h2>
      </div>
      <!-- // end column -->
      <div class="col text-right">
        <div class="dropdown">
          <button class="btn btn-outline-primary btn-md dropdown-toggle" id="artist-stats-filter"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button">Week</button>
          <div class="dropdown-menu" aria-labelledby="artist-stats-filter">
            <a class="dropdown-item" href="#">Week</a>
            <a class="dropdown-item" href="#">Past Two Weeks</a>
            <a class="dropdown-item" href="#">Past Month</a>
          </div>
        </div>
        <!-- // end dropdown -->
      </div>
      <!-- // end column -->
    </div>
    <!-- // end row -->
  </header>
  <!-- // end header -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Downloads <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique songs downloaded for this artist."></i>
          </h5>
        </div>
        <!-- // end card-header -->
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1">
              <span class="h3 text-nowrap">
                50,300
              </span>
            </div>
            <!-- // end mb-1 -->
            <div class="row">
              <div class="col text-truncate">
                <span class="h6 text-muted align-middle">
                  <small>Change from previous period </small>
                </span>
              </div>
              <div class="col text-right">
                <span class="h6">
                  <small class="text-success mr-1">+ 2.3%</small>
                  <span class="oi oi-arrow-circle-top font-weight-bold text-success align-middle"></span>
                </span>
              </div>
            </div>
            <!-- // end row -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Potential Reach <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="Number of unique IP addresses that have downloaded at least one file from this artist. These are the fans!"></i>
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1">
              <span class="h3 text-nowrap">
                115,798
              </span>
            </div>
            <!-- // end mb-1 -->
            <div class="row">
              <div class="col text-truncate">
                <span class="h6 text-muted align-middle">
                  <small>Change from previous period</small>
                </span>
              </div>
              <div class="col text-right">
                <span class="h6">
                  <small class="text-danger mr-1">-25.33%</small>
                  <span class="oi oi-arrow-circle-bottom font-weight-bold text-danger align-middle"></span>
                </span>
              </div>
            </div>
            <!-- // end row -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Fastest Growing <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="The country with highest increase in traffic."></i>
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1 text-truncate">
              <span class="h4">
                Slovenia
              </span>
            </div>
            <!-- // end mb-1 -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5>
            Most Engaged <i class="fas fa-question-circle text-dark ml-1" data-toggle="tooltip" data-placement="top" title="Avg. daily potential reach divided by the country population."></i>
          </h5>
        </div>
        <div class="card-body p-0">
          <div class="stats px-3 py-2">
            <div class="mb-1 text-truncate">
              <span class="h4">
                Taiwan, Province of China
              </span>
            </div>
            <!-- // end mb-1 -->
          </div>
          <!-- // end stats -->
        </div>
        <!-- // end card-body -->
      </div>
      <!-- // end card -->
    </div>
    <!-- // end column -->
  </div>
  <!-- // end row -->
  <div class="card">
    <div class="card-header">
      <h5>
        Download Origins
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7 mb-4 d-none d-md-block">
          <%=image_tag( "map.png", class: "img-fluid", alt: "Map Image") %>
        </div>
        <!-- // end column -->
        <div class="col-md-5">
          <h6 class="d-none d-md-block">
            Top Countries
          </h6>
          <div class="table-responsive-sm">
            <table class="table download-origins">
              <thead>
                <tr>
                  <th>Country</th>
                  <th>Traffic</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-truncate">
                    United States United States United States United States United States United States United States United States United States United States United States United States United States United States United States United States </td>
                  <td >1340</td>
                </tr>
                <tr>
                  <td class="text-truncate">China</td>
                  <td>445</td>
                </tr>
                <tr>
                  <td class="text-truncate">Russian Federation</td>
                  <td>367</td>
                </tr>
                <tr>
                  <td class="text-truncate">Korea</td>
                  <td>228</td>
                </tr>
                <tr>
                  <td class="text-truncate">Italy</td>
                  <td>165</td>
                </tr>
                <tr>
                  <td class="text-truncate">Brazil</td>
                  <td>157</td>
                </tr>
                <tr>
                  <td class="text-truncate">Japan</td>
                  <td>141</td>
                </tr>
                <tr>
                  <td class="text-truncate">Canada</td>
                  <td>110</td>
                </tr>
                <tr>
                  <td class="text-truncate">Germany</td>
                  <td>104</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- // end table-responsive -->
        </div>
        <!-- // end column -->
      </div>
      <!-- // end row -->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
  <div class="card">
    <div class="card-header">
      <h5>
        Torrents
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive-sm table-scroll">
        <table class="table table-hover torrents">
          <thead>
            <tr>
              <th>Name</th>
              <th>Size</th>
              <th>% Changed</th>
              <th>Downloads</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-truncate">
                <%= link_to 'Big Boat (2016)', '#' %>
              </td>
              <td>322 MB</td>
              <td class="text-success">
                +10%
                <span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
              </td>
              <td>120K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '3786a72f6bc4fc56bd2ecddbefc0908c23af472c', '#' %>
              </td>
              <td>321 MB</td>
              <td class="text-danger">
                -2%
                <span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
              </td>
              <td>97K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '36291be5f076ef3c15daaaf5ac35d3fd762ef36b', '#' %>
              </td>
              <td>303 MB</td>
              <td class="text-danger">
                -3%
                <span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
              </td>
              <td>19K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '3786a72f6bc4fc56bd2ecddbefc0908c23af472c', '#' %>
              </td>
              <td>356 MB</td>
              <td class="text-success">
                +1%
                <span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
              </td>
              <td>28K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '38017ea258367e6716a92d28ff548be5347528aa', '#' %>
              </td>
              <td>360 MB</td>
              <td class="text-success">
                +4%
                <span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
              </td>
              <td>75K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '3f0401dbbb1aa193578f04074eebcb4cbeab137c', '#' %>
              </td>
              <td>490 MB</td>
              <td class="text-danger">
                +13%
                <span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
              </td>
              <td>39K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '4005c1ae76136ad4dd6ebf2113341ce741a2f024', '#' %>
              </td>
              <td>377 MB</td>
              <td class="text-success">
                +10%
                <span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
              </td>
              <td>50K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '413c5336e548b3576fe974db1525e9fe1ee8267e', '#' %>
              </td>
              <td>490 MB</td>
              <td class="text-danger">
                -3%
                <span class="oi oi-arrow-circle-bottom font-weight-bold align-middle"></span>
              </td>
              <td>100K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '4220a2e0011d7361aa95ec6ecda060ca1590a66d', '#' %>
              </td>
              <td>762 MB</td>
              <td class="text-success">
                +7%
                <span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
              </td>
              <td>20K</td>
            </tr>
            <tr>
              <td class="text-truncate">
                <%= link_to '42b09f1e86409d01c2ed683dc676b6d52cd6dcd6', '#' %>
              </td>
              <td>800 MB</td>
              <td class="text-success">
                +10%
                <span class="oi oi-arrow-circle-top font-weight-bold align-middle"></span>
              </td>
              <td>32K</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- // end table-responsive -->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
  <div class="card">
    <div class="card-header">
      <h5>
        Activity Timeline
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%=image_tag( "activity-timeline.png", class: "img-fluid", alt:
          "Activity Timeline Image") %>
        </div>
        <!-- // end column -->
      </div>
      <!-- // end row -->
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
  <div class="card">
    <div class="card-header">
      <h5>
        Artist Details
      </h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <dl>
            <dt>Members</dt>
            <dd>Jeff Holdsworth, Page McConnell, Mike Gordon, Trey Anastasio, Jon Fishman</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <dl>
            <dt>Active Years</dt>
            <dd>1983 - 2004</dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <dl>
            <dt>Genres</dt>
            <dd>
              <span class="badge badge-dark">jam band</span>
              <span class="badge badge-dark">funk metal</span>
              <span class="badge badge-dark">alternative rock</span>
              <span class="badge badge-dark">rock</span>
              <span class="badge badge-dark"></span>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <dl>
            <dt>Keywords</dt>
            <dd>
              <span class="badge badge-light">rock</span>
              <span class="badge badge-light">jam band</span>
              <span class="badge badge-light">classic rock</span>
              <span class="badge badge-light">bluegrass</span>
              <span class="badge badge-light">progressive rock</span>
              <span class="badge badge-light">jazz</span>
              <span class="badge badge-light">pop</span>
              <span class="badge badge-light">90s</span>
              <span class="badge badge-light">folk</span>
              <span class="badge badge-light">alternative rock</span>
              <span class="badge badge-light">folk rock</span>
              <span class="badge badge-light">fusion</span>
              <span class="badge badge-light">funk</span>
              <span class="badge badge-light">jazz fusion</span>
              <span class="badge badge-light">instrumental</span>
              <span class="badge badge-light">country</span>
              <span class="badge badge-light">blues</span>
              <span class="badge badge-light">psychedelic</span>
              <span class="badge badge-light">jazz rock</span>
              <span class="badge badge-light">hardcore</span>
              <span class="badge badge-light">soul</span>
              <span class="badge badge-light">reggae</span>
              <span class="badge badge-light">alternative</span>
              <span class="badge badge-light"></span>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <!-- // end card-body -->
  </div>
  <!-- // end card -->
</section>
<!-- // end container-fluid -->